;; Analyzed by ClojureScript 1.7.170
{:name dep.c, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {dep.b dep.b}, :imports nil, :defs {c {:name dep.c/c, :file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/c.cljc", :line 4, :column 1, :end-line 4, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/c.cljc", :line 4, :column 6, :end-line 4, :end-column 7}}}}