;; Analyzed by ClojureScript 1.7.170
{:name dep.k, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {dep.j dep.j}, :imports nil, :defs {k {:name dep.k/k, :file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/k.cljc", :line 4, :column 1, :end-line 4, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/k.cljc", :line 4, :column 6, :end-line 4, :end-column 7}}}}