;; Analyzed by ClojureScript 1.7.170
{:name dep.m, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {dep.l dep.l}, :imports nil, :defs {m {:name dep.m/m, :file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/m.cljc", :line 4, :column 1, :end-line 4, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/m.cljc", :line 4, :column 6, :end-line 4, :end-column 7}}}}