;; Analyzed by ClojureScript 1.7.170
{:name dep.o, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {dep.n dep.n}, :imports nil, :defs {o {:name dep.o/o, :file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/o.cljc", :line 4, :column 1, :end-line 4, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/o.cljc", :line 4, :column 6, :end-line 4, :end-column 7}}}}