;; Analyzed by ClojureScript 1.7.170
{:name dep.s, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {dep.r dep.r}, :imports nil, :defs {s {:name dep.s/s, :file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/s.cljc", :line 4, :column 1, :end-line 4, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/ordered/src/dep/s.cljc", :line 4, :column 6, :end-line 4, :end-column 7}}}}