;; Analyzed by ClojureScript 1.7.170
{:name dep.top, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {dep.d dep.d, dep.x dep.x, dep.g dep.g, dep.f dep.f, dep.c dep.c, dep.u dep.u, dep.a dep.a, dep.h dep.h, dep.b dep.b, dep.l dep.l, dep.z dep.z, dep.k dep.k, dep.i dep.i, dep.t dep.t, dep.n dep.n, dep.e dep.e, dep.j dep.j, dep.s dep.s, dep.r dep.r, dep.q dep.q, dep.o dep.o, dep.p dep.p, dep.v dep.v, dep.m dep.m, dep.y dep.y, dep.w dep.w}, :imports nil}