;; Analyzed by ClojureScript 1.7.170
{:name dep.i, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {i {:name dep.i/i, :file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/i.cljc", :line 3, :column 1, :end-line 3, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/i.cljc", :line 3, :column 6, :end-line 3, :end-column 7}}}}