;; Analyzed by ClojureScript 1.7.170
{:name dep.q, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {q {:name dep.q/q, :file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/q.cljc", :line 3, :column 1, :end-line 3, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/q.cljc", :line 3, :column 6, :end-line 3, :end-column 7}}}}