;; Analyzed by ClojureScript 1.7.170
{:name dep.w, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {w {:name dep.w/w, :file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/w.cljc", :line 3, :column 1, :end-line 3, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/w.cljc", :line 3, :column 6, :end-line 3, :end-column 7}}}}