;; Analyzed by ClojureScript 1.7.170
{:name dep.y, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {y {:name dep.y/y, :file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/y.cljc", :line 3, :column 1, :end-line 3, :end-column 7, :meta {:file "/Users/mfikes/Projects/ns-ordering/unordered/src/dep/y.cljc", :line 3, :column 6, :end-line 3, :end-column 7}}}}